html,body{
	width: 100%;
	height: 100%;
	margin:0;
	background-color: #383736;
	background:url("pch.jpg") ;

	font-family: 'Rajdhani', sans-serif;
}

h1{
	color: white ;
}
header{
	background-color: #262625;
	height:  70px;
	/*box-shadow: 0 5px 8px #ff241c;*/
	padding-bottom: 0;
	margin-bottom: 0;
}

#header-img{
	height: 50px;
	padding:10px 0 0 30px;

	@media (max-width: 650px) {
    margin-top: 15px;
    width: 100%;
    position: relative;

		}

    img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    
    @media (max-width: 650px) {
      margin: 0 auto;
   		 }
  
    }
}

nav {
  font-weight: 400;
  
  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    
    li {
     padding-bottom: 5px; 
    }
  }
  
  ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
}


#nav-bar{
	padding-right: 10px;
}
#nav-bar a{
	float: right;
	text-align: center;
	color: white;
	padding:20px 20px 0 20px ; 
	text-decoration: none;
	font-size:30px;
	transition: 1s;
}

 #nav-bar a:hover{
	color: #ff241c;
}



h1{
	font-size: 60px;
	
	text-shadow: 1px 1px black;
}
h2{
	font-size: 30px;
	color: white;
}
form{
	text-align: center;

}
/*#Home{
	background:url("pugio.jpg");
	width:100%;
	overflow: hidden;
	background-size: 100%;
}*/
 a{
	text-decoration:none;
	color: white;

}
 a:hover{
	color: #ff241c;
	cursor: pointer;
	transition: 0.3s;
}

#email{
	font-family: 'Rajdhani',sans-serif;
	margin: 50px 0 0 0;
	height: 40px;
	width: 500px;
	font-size: 30px;
	color:white;
	border:2px solid;
	border-radius: 4px;
	border-color:#262625; 
	background-color: #43464b;

}

#submit{
	font-family: 'Rajdhani',sans-serif;
	margin:20px 0 50px 0;
	height: 40px;
	width: 150px;
	font-size: 25px;
	border:2px solid;
	border-radius: 4px;
	border-color: #ff241c;
	color:white;
	background-color:#262625;
	padding-bottom: 5px;

}

#submit:hover{
	background-color: #ff241c;
	transition: 0.3s;
}

#Features{

	background-color:  #383736;
	color: red;
	
}

.container {
  
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

}

 .parent {
  padding-top: 10px;
  display: flex;
  
 
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: #ff241c;
    
}
.right{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    opacity:1;
}

#Howitworks{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  
  iframe {
    max-width: 560px;
    width: 100%;
  }
}

#Pricing{
	display: flex;
	flex-wrap: wrap;
}

